{
  "openapi": "3.1.1",
  "info": {
    "title": "LevitateAPI | public-v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.levitate.ai/"
    }
  ],
  "paths": {
    "/public/v1/Companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get Company by Id",
        "description": "\n### Retrieves company information for a given identifier.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "GetCompanyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfCompany"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "summary": "Update a company",
        "description": "\n### Partially updates a company and returns the full record.\nOnly the fields present in the body are changed: an omitted field is left unchanged, an explicit `null`\nclears a scalar, and a provided array replaces the whole array. `name` may be changed but not cleared.\nUnknown or read-only fields are rejected. Changing the name or an email domain to one already used by\nanother company on the account returns `409`; an email domain that cannot identify a company is rejected\nwith `400`.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "UpdateCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyPatch"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyPatch"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfCompany"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies"
        ],
        "summary": "Delete a company",
        "description": "\n### Permanently removes a company.\nContacts associated with the company are detached from it, not deleted. Returns `404` when the company\ndoesn't exist on the caller's account.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "DeleteCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List companies",
        "description": "\n### Returns a cursor-paged list of companies matching the supplied filters.\nThe query-string filters combine with AND. `name` is a case-insensitive prefix match; `tags` is repeatable\nand every supplied tag must be present on the company (max 10). Each row is a lean summary; follow its\n`url` for the full record.\n\n**Sortable fields:** `name` (default, ascending) and `creationDate`. Prefix a field with `-` for descending order (e.g. `sort=-name`).\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "ListCompanies",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter by company name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tag; repeatable, combined with AND (max 10)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results per page (default 25, max 100)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response; omit for the first page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field; prefix with '-' for descending. See the endpoint description for supported fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfPagedCollectionOfCompanySummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create a company",
        "description": "\n### Creates a company from the supplied fields and returns the full record.\nA `name` is required. New tags are created automatically. A create that matches a company already on the\naccount — by name, or by one of the supplied email domains — returns `409` and creates nothing. An email\ndomain that cannot identify a company (a free-email provider, a malformed host, or any domain when the\naccount has company-domain matching disabled) is rejected with `400` rather than silently dropped. Unknown\nor read-only fields are rejected, and the company is stored exactly as supplied — no enrichment is applied.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "CreateCompany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyWrite"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfCompany"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact by Id",
        "description": "\n### Retrieves a contact's full profile for a given identifier.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "GetContactById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfContact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "\n### Partially updates a contact and returns the full profile.\nOnly the fields present in the body are changed: an omitted field is left unchanged, an explicit `null`\nclears a scalar, and a provided array replaces the whole array (the first entry is primary). The company\nis inferred and not settable. Unknown or read-only fields are rejected. Changing a contact's email to one\nthat already exists on the account returns `409`; changing `visibility` without permission returns `403`.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "UpdateContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPatch"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPatch"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfContact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "\n### Returns a cursor-paged list of contacts matching the supplied filters.\nThe query-string filters combine with AND. For OR/NOT or grouped boolean queries, use `POST /public/v1/contacts/search`.\nEach row is a lean summary; follow its `url` for the full profile.\n\n**Sortable fields:** `creationDate` (default, descending) and `name`. Prefix a field with `-` for descending order (e.g. `sort=-name`).\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "ListContacts",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter by contact name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "description": "Filter by company name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tag; repeatable, combined with AND (max 10)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Filter by city or state/province",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Only contacts created on or after this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Only contacts created on or before this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "Only contacts last modified on or after this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "description": "Only contacts last modified on or before this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastCommunicatedAfter",
            "in": "query",
            "description": "Only contacts last communicated with on or after this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastCommunicatedBefore",
            "in": "query",
            "description": "Only contacts last communicated with on or before this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results per page (default 25, max 100)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response; omit for the first page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field; prefix with '-' for descending. See the endpoint description for supported fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfPagedCollectionOfContactSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "description": "\n### Creates a contact from the supplied fields and returns the full profile.\nRequires at least one email address, or both a first and last name. The company is inferred from the\nprimary email's domain and is not settable. New tags are created automatically. A create whose primary\nemail already exists on an account contact returns `409`. Unknown or read-only fields are rejected.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "CreateContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfContact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Contacts/search": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search contacts with a boolean filter",
        "description": "\n### Searches contacts with a nested boolean (AND/OR/NOT) filter and returns the same rows as the list endpoint.\nThe request body is a single `filter` node. A node is either a **group** — `{ op: and | or | not, filters: [ ... ] }`\n(`and`/`or` take one or more children; `not` takes exactly one) — or a **condition** — `{ field, operator, value }`.\nPaging and sort use the same query parameters as the list endpoint, and each row is the same lean `ContactSummary`.\n\n**Filterable fields and operators** (an unknown field, or an operator not valid for a field, returns `400`):\n- `name` — `contains` (case-insensitive prefix match on the display name)\n- `email` — `equals` (matches any of the contact's email addresses)\n- `company` — `equals` (by company id) · `companyName` — `contains` (case-insensitive prefix match)\n- `tags` — `contains`, `notContains`\n- `city`, `stateProvince` — `equals`, `startsWith` (both are case-insensitive prefix matches)\n- `postalCode` — `startsWith`\n- `source` — `equals`\n- `createdAt`, `updatedAt` — `before`, `after`, `on` (date-only `YYYY-MM-DD`; `on` matches the whole day)\n- `lastCommunicationDate` — `before`, `after`, `on`, `isNull`\n- `customFields.{name}` — `equals`, `isEmpty`, `isNotEmpty` (`{name}` must be a field defined on the account)\n- `visibility` — `equals` (`shared` or `private`)\n- `emailSubscribed`, `textSubscribed`, `hasEmail`, `hasPhone` — `equals` (boolean)\n\n**Limits:** the tree may nest at most 5 levels deep and hold at most 50 conditions; every `value` is sent as a string.\n\n**Sortable fields:** `creationDate` (default, descending) and `name`. Prefix a field with `-` for descending order.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "SearchContacts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results per page (default 25, max 100)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response; omit for the first page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field; prefix with '-' for descending. See the endpoint description for supported fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSearchRequest"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfPagedCollectionOfContactSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Contacts/{id}/keyfacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List a contact's key facts",
        "description": "\n### Returns a contact's key facts (birthdays, renewals, anniversaries, and similar dated facts).\nThe full collection is returned in a single page. A key fact supplied by an integration reports `readOnly: true`.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "ListContactKeyFacts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfPagedCollectionOfKeyFact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add a key fact to a contact",
        "description": "\n### Adds a key fact to a contact and returns the created fact.\nRequires a `type` and at least a `value` or a `date`. When only a `date` is given, a display `value` is\nsynthesized from it. A contact may have at most 100 key facts.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "AddContactKeyFact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyFactWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyFactWrite"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyFactWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfKeyFact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Contacts/{id}/keyfacts/{keyFactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get one of a contact's key facts by Id",
        "description": "\n### Retrieves a single key fact belonging to a contact.\nReturns `404` when the parent contact isn't visible to the caller or the key fact doesn't exist on it.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "GetContactKeyFactById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyFactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfKeyFact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Replace one of a contact's key facts",
        "description": "\n### Replaces a contact's key fact in full, keeping its id. The body has the same requirements as create:\na `type` and at least a `value` or a `date`. Any field omitted from the body is cleared on the fact (this\nis a full replace, not a partial update). An integration-owned (`readOnly`) fact cannot be modified.\nReturns `404` when the parent contact isn't visible to the caller or the key fact doesn't exist on it.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "ReplaceContactKeyFact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyFactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyFactWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyFactWrite"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyFactWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfKeyFact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete one of a contact's key facts",
        "description": "\n### Removes a key fact from a contact.\nAn integration-owned (`readOnly`) fact cannot be deleted. Returns `404` when the parent contact isn't\nvisible to the caller or the key fact doesn't exist on it.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "DeleteContactKeyFact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyFactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Notes/{id}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get Note by Id",
        "description": "\n### Retrieves a note for a given identifier.\nReturns `404` when the note doesn't exist, has been deleted, is on another account, or isn't visible to\nthe caller — a note the caller can't see is never distinguished from one that doesn't exist.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "GetNoteById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfNote"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete a note",
        "description": "\n### Soft-deletes a note, removing it from all reads immediately.\nAny caller who can see the note may delete it. Returns `404` when the note doesn't exist, has already been\ndeleted, is on another account, or isn't visible to the caller — a note the caller can't see is never\ndistinguished from one that doesn't exist. Deleting is idempotent-ish: a second delete returns `404`.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "DeleteNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/Notes": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "List and filter notes",
        "description": "\n### Returns a cursor-paged list of notes matching the supplied filters.\nFilters combine with AND. Each row is a lean summary carrying a plain-text `preview`; follow its `url` for the\nfull note. Bulk-send, communication-derived, and action-item records are never returned.\n\n**Sortable fields:** `creationDate` (default, descending). Prefix a field with `-` for descending order.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "ListNotes",
        "parameters": [
          {
            "name": "contactId",
            "in": "query",
            "description": "Only notes that reference this contact",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Only notes that reference this company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Only notes created on or after this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Only notes created on or before this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "Only notes last modified on or after this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "description": "Only notes last modified on or before this ISO 8601 date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results per page (default 25, max 100)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response; omit for the first page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field; prefix with '-' for descending. See the endpoint description for supported fields.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfPagedCollectionOfNoteSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Log a note",
        "description": "\n### Logs a note against one or more contacts and companies, returning the full note.\nRequires a `body` (an HTML fragment — the `<lev-content>` wrapper is added for you and disallowed markup is\nstripped) and at least one `reference` (a `{ type, id }` where `type` is `contact` or `company`). A reference\nthat isn't a live, visible contact/company on the account is rejected. `visibility` is optional (`shared` or\n`private`, defaulting to the caller's default visibility). Logging a note may fan out to the contact timeline,\nKeep-in-Touch, and any connected CRM.\n\n### Allowed HTML\nThe `body` is sanitized against a fixed allowlist. Any tag or attribute not listed below is **stripped**\n(the note is not rejected), so send a clean fragment to avoid surprises. Allowed elements:\n- **Text & inline:** `b`, `i`, `u`, `s`, `strike`, `em`, `strong`, `small`, `big`, `sub`, `sup`, `abbr`, `acronym`, `cite`, `code`, `dfn`, `kbd`, `samp`, `var`, `q`, `tt`, `bdo`, `font`, `span`\n- **Blocks & headings:** `p`, `div`, `section`, `article`, `address`, `center`, `blockquote`, `pre`, `h1`–`h6`, `hr`, `br`\n- **Lists:** `ul`, `ol`, `li`, `dl`, `dt`, `dd`\n- **Tables:** `table`, `caption`, `col`, `colgroup`, `thead`, `tbody`, `tfoot`, `tr`, `th`, `td`\n- **Links & media:** `a`, `img`, `map`, `area`, `ins`, `del`\n\nAttributes are allowlisted per element; scripting/event attributes (e.g. `onclick`) are always dropped.\n`a` links keep only `http`, `https`, `mailto`, and `tel` hrefs (other schemes such as `javascript:` are\nstripped). `img` sources must be an `https` URL or an inline base64 data URI. Do **not** include the\n`<lev-content>` wrapper — it is added for you and is the only permitted root.\n\n\n**Required Scope:** `levitate:contacts`",
        "operationId": "CreateNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteWrite"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteWrite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultOfNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "address1": {
            "type": [
              "null",
              "string"
            ],
            "description": "Street Address - First Line"
          },
          "address2": {
            "type": [
              "null",
              "string"
            ],
            "description": "Street Address - Second Line"
          },
          "city": {
            "type": [
              "null",
              "string"
            ],
            "description": "City name"
          },
          "stateProvince": {
            "type": [
              "null",
              "string"
            ],
            "description": "State or Province - Code or full name allowed"
          },
          "postalCode": {
            "type": [
              "null",
              "string"
            ],
            "description": "Postal zip code"
          },
          "country": {
            "type": [
              "null",
              "string"
            ],
            "description": "Country of the address - Code or full name allowed"
          }
        }
      },
      "Capability": {
        "enum": [
          "Yes",
          "No",
          "Maybe",
          "OptOut",
          "Unknown"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display name of the company"
          },
          "description": {
            "type": [
              "null",
              "string"
            ],
            "description": "Description of the company"
          },
          "emailDomains": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "List of email domains associated with the company, eg. example.com"
          },
          "webSite": {
            "type": [
              "null",
              "string"
            ],
            "description": "Url to the company's website"
          },
          "logoUrl": {
            "type": [
              "null",
              "string"
            ],
            "description": "Url to a display logo for the company and should point to an image file"
          },
          "phoneNumbers": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "A list of phone numbers for this company that do not tie to a specific contact"
          },
          "keyFactsCollection": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/CompanyKeyFact"
            },
            "description": "A collection of key facts, which are a unique piece of information about a company that you can reference to appear personable and genuine."
          },
          "tags": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "A list of values that can be used to help group companies and contacts together for easier management and search"
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "A physical or mailing address associated with this company"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "CompanyKeyFact": {
        "type": "object",
        "properties": {
          "value": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display value for the Key Fact"
          },
          "creatorId": {
            "type": [
              "null",
              "string"
            ],
            "description": "The unique identifier of the user who created this key fact"
          },
          "creationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this was created in ISO 8601 format",
            "format": "date-time"
          },
          "lastModifiedDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this was last modified in ISO 8601 format",
            "format": "date-time"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "CompanyPatch": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 200,
            "type": "string",
            "description": "Display name of the company; it may be changed but not cleared"
          },
          "description": {
            "maxLength": 5000,
            "type": "string",
            "description": "Description of the company"
          },
          "emailDomains": {
            "maxItems": 25,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of email domains associated with the company, eg. example.com. A provided array replaces the existing domains; a domain already claimed by another company is rejected."
          },
          "webSite": {
            "maxLength": 2048,
            "type": "string",
            "description": "Url to the company's website"
          },
          "logoUrl": {
            "maxLength": 2048,
            "type": "string",
            "description": "Url to a display logo for the company and should point to an image file"
          },
          "phoneNumbers": {
            "maxItems": 25,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "A list of phone numbers for this company that do not tie to a specific contact. A provided array replaces the existing numbers. Each value is capped at 50 characters and each label at 50."
          },
          "tags": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of values used to group companies and contacts; new tags are created automatically. A provided array replaces the existing tags. Each tag name is capped at 100 characters."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "additionalProperties": false
      },
      "CompanySummary": {
        "type": "object",
        "properties": {
          "url": {
            "type": [
              "null",
              "string"
            ],
            "description": "Path to the company's full record"
          },
          "name": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display name of the company"
          },
          "webSite": {
            "type": [
              "null",
              "string"
            ],
            "description": "Url to the company's website"
          },
          "logoUrl": {
            "type": [
              "null",
              "string"
            ],
            "description": "Url to a display logo for the company"
          },
          "emailDomains": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "List of email domains associated with the company, eg. example.com"
          },
          "tags": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "A list of values that can be used to help group companies and contacts together for easier management and search"
          },
          "creationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this company was created in ISO 8601 format",
            "format": "date-time"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "CompanyWrite": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 200,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Display name of the company"
          },
          "description": {
            "maxLength": 5000,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Description of the company"
          },
          "emailDomains": {
            "maxItems": 25,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "List of email domains associated with the company, eg. example.com. A domain already claimed by another company is rejected."
          },
          "webSite": {
            "maxLength": 2048,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Url to the company's website"
          },
          "logoUrl": {
            "maxLength": 2048,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Url to a display logo for the company and should point to an image file"
          },
          "phoneNumbers": {
            "maxItems": 25,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "A list of phone numbers for this company that do not tie to a specific contact. Each value is capped at 50 characters and each label at 50."
          },
          "tags": {
            "maxItems": 50,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "A list of values used to group companies and contacts; new tags are created automatically. Each tag name is capped at 100 characters."
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "A physical or mailing address associated with this company. Address lines are capped at 200 characters; city, state/province, and country at 100; postal code at 20."
          }
        },
        "additionalProperties": false
      },
      "Contact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's first name"
          },
          "lastName": {
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's last name"
          },
          "name": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display name for the contact"
          },
          "jobTitle": {
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's job title"
          },
          "website": {
            "type": [
              "null",
              "string"
            ],
            "description": "Url to the contact's website"
          },
          "bio": {
            "type": [
              "null",
              "string"
            ],
            "description": "A short biography or notes about the contact"
          },
          "tags": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "A list of values used to group and search contacts"
          },
          "emailAddresses": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            },
            "description": "Email addresses associated with the contact; the first entry is primary"
          },
          "phoneNumbers": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "Phone numbers associated with the contact; the first entry is primary"
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "A physical or mailing address associated with the contact"
          },
          "customFields": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "Account-defined custom fields as name/value pairs"
          },
          "source": {
            "type": [
              "null",
              "string"
            ],
            "description": "The origin of the contact record, eg. how it was created"
          },
          "company": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Reference"
              }
            ],
            "description": "The company this contact is associated with"
          },
          "owner": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Reference"
              }
            ],
            "description": "The user who owns this contact"
          },
          "visibility": {
            "type": [
              "null",
              "string"
            ],
            "description": "Visibility of the contact: 'shared' (visible to the whole account) or 'private'"
          },
          "emailSubscribed": {
            "type": "boolean",
            "description": "Whether the contact is subscribed to receive marketing emails"
          },
          "textSubscribed": {
            "type": "boolean",
            "description": "Whether the contact is subscribed to receive automated text messages"
          },
          "lastCommunicationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time of the most recent communication with this contact in ISO 8601 format",
            "format": "date-time"
          },
          "keyFacts": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/KeyFact"
            },
            "description": "Key facts about the contact — notable dates and details. Read-only on the profile."
          },
          "creationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this was created in ISO 8601 format",
            "format": "date-time"
          },
          "lastModifiedDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this was last modified in ISO 8601 format",
            "format": "date-time"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "ContactFilterNode": {
        "type": "object",
        "properties": {
          "op": {
            "type": [
              "null",
              "string"
            ],
            "description": "Group node: the boolean operator combining the child filters — 'and', 'or', or 'not'."
          },
          "filters": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/ContactFilterNode"
            },
            "description": "Group node: the child filter nodes. 'and'/'or' take one or more; 'not' takes exactly one."
          },
          "field": {
            "type": [
              "null",
              "string"
            ],
            "description": "Condition node: the field to test (e.g. 'tags', 'name', 'createdAt')."
          },
          "operator": {
            "type": [
              "null",
              "string"
            ],
            "description": "Condition node: the operator to apply (e.g. 'contains', 'equals', 'before'). Valid operators depend on the field."
          },
          "value": {
            "type": [
              "null",
              "string"
            ],
            "description": "Condition node: the value to compare against, sent as a string."
          }
        },
        "additionalProperties": false
      },
      "ContactPatch": {
        "type": "object",
        "properties": {
          "firstName": {
            "maxLength": 100,
            "type": "string",
            "description": "Contact's first name"
          },
          "lastName": {
            "maxLength": 100,
            "type": "string",
            "description": "Contact's last name"
          },
          "jobTitle": {
            "maxLength": 200,
            "type": "string",
            "description": "Contact's job title"
          },
          "emailAddresses": {
            "maxItems": 25,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            },
            "description": "Email addresses associated with the contact; the first entry is primary. A provided array replaces the existing addresses. Each value is capped at 254 characters and each label at 50."
          },
          "phoneNumbers": {
            "maxItems": 25,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "Phone numbers associated with the contact; the first entry is primary. A provided array replaces the existing numbers. Each value is capped at 50 characters and each label at 50."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "website": {
            "maxLength": 2048,
            "type": "string",
            "description": "Url to the contact's website"
          },
          "bio": {
            "maxLength": 5000,
            "type": "string",
            "description": "A short biography or notes about the contact"
          },
          "tags": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of values used to group and search contacts; new tags are created automatically. A provided array replaces the existing tags. Each tag name is capped at 100 characters."
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Account-defined custom fields as name/value pairs; a provided object replaces the existing custom fields"
          },
          "visibility": {
            "type": "string",
            "description": "Visibility of the contact: 'shared' (visible to the whole account) or 'private'"
          }
        },
        "additionalProperties": false
      },
      "ContactSearchRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ContactFilterNode"
              }
            ],
            "description": "The root of the boolean filter tree. A node is either a group ({op, filters}) or a condition ({field, operator, value})."
          }
        },
        "additionalProperties": false
      },
      "ContactSummary": {
        "type": "object",
        "properties": {
          "url": {
            "type": [
              "null",
              "string"
            ],
            "description": "Path to the contact's full profile"
          },
          "name": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display name for the contact"
          },
          "firstName": {
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's first name"
          },
          "lastName": {
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's last name"
          },
          "primaryEmail": {
            "type": [
              "null",
              "string"
            ],
            "description": "The contact's primary (first) email address"
          },
          "primaryPhone": {
            "type": [
              "null",
              "string"
            ],
            "description": "The contact's primary (first) phone number"
          },
          "company": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Reference"
              }
            ],
            "description": "The company this contact is associated with"
          },
          "jobTitle": {
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's job title"
          },
          "tags": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "A list of values used to group and search contacts"
          },
          "lastCommunicationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time of the most recent communication with this contact in ISO 8601 format",
            "format": "date-time"
          },
          "creationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this contact was created in ISO 8601 format",
            "format": "date-time"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "ContactWrite": {
        "type": "object",
        "properties": {
          "firstName": {
            "maxLength": 100,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's first name"
          },
          "lastName": {
            "maxLength": 100,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's last name"
          },
          "jobTitle": {
            "maxLength": 200,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Contact's job title"
          },
          "emailAddresses": {
            "maxItems": 25,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            },
            "description": "Email addresses associated with the contact; the first entry is primary. Each value is capped at 254 characters and each label at 50."
          },
          "phoneNumbers": {
            "maxItems": 25,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "Phone numbers associated with the contact; the first entry is primary. Each value is capped at 50 characters and each label at 50."
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "A physical or mailing address associated with the contact. Address lines are capped at 200 characters; city, state/province, and country at 100; postal code at 20."
          },
          "website": {
            "maxLength": 2048,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Url to the contact's website"
          },
          "bio": {
            "maxLength": 5000,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "A short biography or notes about the contact"
          },
          "tags": {
            "maxItems": 50,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            },
            "description": "A list of values used to group and search contacts; new tags are created automatically. Each tag name is capped at 100 characters."
          },
          "customFields": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "Account-defined custom fields as name/value pairs"
          },
          "visibility": {
            "type": [
              "null",
              "string"
            ],
            "description": "Visibility of the contact: 'shared' (visible to the whole account) or 'private'"
          }
        },
        "additionalProperties": false
      },
      "EmailAddress": {
        "required": [
          "label",
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": [
              "null",
              "string"
            ],
            "description": "A label describing the type of email address, eg. Work, Personal, etc."
          },
          "value": {
            "type": [
              "null",
              "string"
            ],
            "description": "The full email address."
          }
        }
      },
      "ITechnicalError": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": [
              "null",
              "string"
            ]
          },
          "errorCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "category": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "KeyDate": {
        "type": "object",
        "properties": {
          "month": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "The numerical month of the date (1-12)",
            "format": "int32"
          },
          "day": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "The numerical day of the month",
            "format": "int32"
          },
          "year": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "description": "The year of the date, if known",
            "format": "int32"
          }
        }
      },
      "KeyDateKind": {
        "enum": [
          "Unknown",
          "Birthday",
          "Renewal",
          "Anniversary",
          "Wedding",
          "FinancialReview",
          "Custom1",
          "Custom2",
          "Custom3",
          "Custom4",
          "Custom5",
          "Custom6",
          "Custom7",
          "Custom8",
          "Custom9",
          "Custom10",
          null
        ]
      },
      "KeyFact": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "The kind of information this key fact represents, eg birthday or renewal",
                "$ref": "#/components/schemas/KeyDateKind"
              }
            ]
          },
          "value": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display value for the key fact"
          },
          "date": {
            "allOf": [
              {
                "$ref": "#/components/schemas/KeyDate"
              }
            ],
            "description": "The date this key fact represents, eg the birth date for a birthday"
          },
          "source": {
            "type": [
              "null",
              "string"
            ],
            "description": "The origin of the key fact, eg the integration that supplied it. Read-only."
          },
          "readOnly": {
            "type": "boolean",
            "description": "True when the key fact is owned by an integration and cannot be modified through the API"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "KeyFactWrite": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "The kind of information this key fact represents, eg birthday or renewal",
                "$ref": "#/components/schemas/KeyDateKind"
              }
            ]
          },
          "value": {
            "maxLength": 1000,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "Display value for the key fact. Capped at 1000 characters. Synthesized from the date when omitted."
          },
          "date": {
            "allOf": [
              {
                "$ref": "#/components/schemas/KeyDate"
              }
            ],
            "description": "The date this key fact represents. The year is optional (eg a birthday with an unknown year)."
          }
        },
        "additionalProperties": false
      },
      "Note": {
        "type": "object",
        "properties": {
          "body": {
            "type": [
              "null",
              "string"
            ],
            "description": "The note body as a sanitized HTML fragment (the <lev-content> wrapper is stripped)"
          },
          "bodyWrapped": {
            "type": [
              "null",
              "string"
            ],
            "description": "The full note document as stored, wrapped in <lev-content>"
          },
          "references": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/NoteReference"
            },
            "description": "The contacts and companies this note is attached to"
          },
          "visibility": {
            "type": [
              "null",
              "string"
            ],
            "description": "Visibility of the note: 'shared' (visible to the whole account) or 'private'"
          },
          "createdBy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Reference"
              }
            ],
            "description": "The user who created the note"
          },
          "creationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this was created in ISO 8601 format",
            "format": "date-time"
          },
          "lastModifiedDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this was last modified in ISO 8601 format",
            "format": "date-time"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "NoteReference": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ],
            "description": "The kind of referenced resource: 'contact' or 'company'"
          },
          "name": {
            "type": [
              "null",
              "string"
            ],
            "description": "Display name of the referenced resource"
          },
          "url": {
            "type": [
              "null",
              "string"
            ],
            "description": "Path to the referenced resource's public API record, when one is exposed"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "NoteReferenceWrite": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ],
            "description": "The kind of referenced resource: 'contact' or 'company'"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        },
        "additionalProperties": false
      },
      "NoteSummary": {
        "type": "object",
        "properties": {
          "url": {
            "type": [
              "null",
              "string"
            ],
            "description": "Path to the note's full record"
          },
          "preview": {
            "type": [
              "null",
              "string"
            ],
            "description": "Plain-text first line of the note body"
          },
          "references": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/NoteReference"
            },
            "description": "The contacts and companies this note is attached to"
          },
          "visibility": {
            "type": [
              "null",
              "string"
            ],
            "description": "Visibility of the note: 'shared' (visible to the whole account) or 'private'"
          },
          "createdBy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Reference"
              }
            ],
            "description": "The user who created the note"
          },
          "creationDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this note was created in ISO 8601 format",
            "format": "date-time"
          },
          "lastModifiedDate": {
            "type": [
              "null",
              "string"
            ],
            "description": "Date/time this note was last modified in ISO 8601 format",
            "format": "date-time"
          },
          "id": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unique identifier generated by Levitate"
          }
        }
      },
      "NoteWrite": {
        "type": "object",
        "properties": {
          "body": {
            "maxLength": 100000,
            "minLength": 0,
            "type": [
              "null",
              "string"
            ],
            "description": "The note body as an HTML fragment (no <lev-content> wrapper). Required; disallowed markup is stripped on save."
          },
          "references": {
            "maxItems": 25,
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/NoteReferenceWrite"
            },
            "description": "The contacts and companies to attach the note to. At least one is required (no more than 25)."
          },
          "visibility": {
            "type": [
              "null",
              "string"
            ],
            "description": "Visibility of the note: 'shared' (visible to the whole account) or 'private'. Defaults to the caller's default visibility."
          }
        },
        "additionalProperties": false
      },
      "OperationResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "OperationResultOfCompany": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/Company"
          }
        }
      },
      "OperationResultOfContact": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "OperationResultOfKeyFact": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/KeyFact"
          }
        }
      },
      "OperationResultOfNote": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/Note"
          }
        }
      },
      "OperationResultOfPagedCollectionOfCompanySummary": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/PagedCollectionOfCompanySummary"
          }
        }
      },
      "OperationResultOfPagedCollectionOfContactSummary": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/PagedCollectionOfContactSummary"
          }
        }
      },
      "OperationResultOfPagedCollectionOfKeyFact": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/PagedCollectionOfKeyFact"
          }
        }
      },
      "OperationResultOfPagedCollectionOfNoteSummary": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "systemMessage": {
            "type": [
              "null",
              "string"
            ]
          },
          "systemCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "error": {
            "$ref": "#/components/schemas/ITechnicalError"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "$ref": "#/components/schemas/PagedCollectionOfNoteSummary"
          }
        }
      },
      "PagedCollectionOfCompanySummary": {
        "type": "object",
        "properties": {
          "values": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/CompanySummary"
            }
          },
          "pageToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "totalCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "debug": { }
        }
      },
      "PagedCollectionOfContactSummary": {
        "type": "object",
        "properties": {
          "values": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/ContactSummary"
            }
          },
          "pageToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "totalCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "debug": { }
        }
      },
      "PagedCollectionOfKeyFact": {
        "type": "object",
        "properties": {
          "values": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/KeyFact"
            }
          },
          "pageToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "totalCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "debug": { }
        }
      },
      "PagedCollectionOfNoteSummary": {
        "type": "object",
        "properties": {
          "values": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/NoteSummary"
            }
          },
          "pageToken": {
            "type": [
              "null",
              "string"
            ]
          },
          "totalCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "debug": { }
        }
      },
      "PhoneNumber": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": [
              "null",
              "string"
            ],
            "description": "The type of phone number, eg. Home, Mobile, etc."
          },
          "value": {
            "type": [
              "null",
              "string"
            ],
            "description": "Unformatted value of the phone number"
          },
          "metadata": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PhoneNumberMetadata"
              }
            ],
            "description": "Extra metadata and formatting options for the phone number"
          },
          "canSMS": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              }
            ],
            "description": "Can this phone number receive text messages: Unknown, Yes, No, Maybe, Opted out. Server-owned — learned from real send outcomes; any value sent on a write is ignored."
          }
        }
      },
      "PhoneNumberMetadata": {
        "type": "object",
        "properties": {
          "e164": {
[...]
